<!-- Modal content-->
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()">&times;</button>
        <h4 class="modal-title">Edit Contact</h4>
    </div>
    <div class="modal-body">
        <form class="frm_edit_contact modal_frm" name="frm_edit_contact">
            <p>
                <label>Fullname:</label>
                <input type="text"
                class="ipt txt-email"
                name="txt-email"
                placeholder="Search by user's email"
                keyboard-poster
                post-function="searchMail"
                list="_edit_users"
                ng-model='contact.user.email'
                />
                <datalist id="_edit_users">
                    <select style="display: none;"
                        id="_select"
                        name="_select"
                        ng-model='selectedUser'
                        ng-options='k as v for (k,v) in srch_users'></select>
                </datalist>
            </p>
            <p>
                <label>Title contact:</label>
                <input type="tel" class="ipt txt-title" name="txt-title" ng-model='contact.position.title'/>
            </p>
            <p class="text-center">
                <button class="btn btn-update btn-primary" ng-click="save()">UPDATE</button>
            </p>
        </form>
    </div>
</div>
