<div class="edit_handbook">
    <h2 class="ttl-tab">
        <span>Employee Handbook</span>
    </h2>
    <tabset class="client-tabs lv2">
        <tab heading="Handbook Info" ng-click="selectTabChild(0)">
            <div ng-include="'views/handbooks/tab_handbook_info.html'"></div>
        </tab>
        <!-- END: TAB -->
        <tab heading="General Description" ng-click="selectTabChild(1)">
            <div ng-include="'views/handbooks/tab_handbook_general.html'"></div>
        </tab>
        <!-- END: TAB -->
        <tab heading="Sections" ng-click="selectTabChild(2)">
            <div class="row" ng-include="'views/handbooks/tab_handbook_section.html'"></div>
        </tab>
        <!-- END: TAB -->
        <tab heading="Contacts" ng-click="selectTabChild(3)">
            <div ng-include="'views/handbooks/tab_handbook_contact.html'"></div>
        </tab>
        <!-- END: TAB -->
    </tabset>
</div>
