<div  data-ng-controller="HandbookInfoCtrl">
<form name="frm_crt_handbook" novalidate ng-submit="submitHandbookInfo()">
    <table class="table tbl table-striped">
        <tbody>
            <tr>
                <td class="td-20">Handbook Title:</td>
                <td>

                    <input type="text"
                    ng-model="handbook.title"
                    class="txt-ipt"
                    required
                    name="hb_title"
                    ng-class='{txt_err : (frm_crt_handbook.hb_title.$invalid && frm_crt_handbook.hb_title.$dirty)}'
                    />
                    <p style="color:red">
                        <span ng-show="frm_crt_handbook.hb_title.$invalid  && frm_crt_handbook.hb_title.$dirty">Title is required.</span>
                    </p>
                </td>
            </tr>
            <tr>
                <td class="td-20">Version:</td>
                <td>
                    <input
                    type="text"
                    required
                    ng-model="handbook.version"
                    name="hb_version"
                    class="txt-ipt"
                    ng-class='{txt_err : (frm_crt_handbook.hb_version.$invalid && frm_crt_handbook.hb_version.$dirty)}'
                    />
                    <p style="color:red">
                                <span ng-show="frm_crt_handbook.hb_version.$invalid  && frm_crt_handbook.hb_version.$dirty">Version is required.</span>
                            </p>
                </td>
            </tr>
            <tr>
                <td class="td-20">Year:</td>
                <td>
                    <input
                    type="text"
                    required
                    ng-model="handbook.year"
                    name="hb_year"
                    class="txt-ipt"
                    ng-class='{txt_err : (frm_crt_handbook.hb_year.$invalid && frm_crt_handbook.hb_year.$dirty)}'
                    />
                    <p style="color:red">
                                <span ng-show="frm_crt_handbook.hb_year.$invalid  && frm_crt_handbook.hb_year.$dirty">Year is required.</span>
                            </p>
                </td>
            </tr>
            <tr>
                <td class="td-20">Language:</td>
                <td>
                    <select name="hb_language" ng-model="handbook.locale" class="txt-ipt">
                        <option value="en-us">English</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="td-20">Publish:</td>
                <td>
                    <input type="checkbox"
                        name="hb_public"
                        ng-model="handbook.enabled"/>
                </td>
            </tr>

        </tbody>
    </table>
    <p>
        <button
        type="submit"
        class="save btn-brown">
            <i class="fa fa-save"></i>&nbsp;SAVE INFO
        </button>
        <span class="msg-update">
            {{infoUpdated}}
        </span>
    </p>
    <!-- END : TBL -->
</form>
</div>
