<div class="item-preview" ng-show="!showPreview" data-ng-controller="HandbookSectionCtrl">
    <div class="col-md-6 col-sm-6 col-xs-6">
        <!--span class="cap-note"
            ng-click="showPreview = !showPreview">
            Preview
        </span-->
        <div class="sec-itm blk-preview" ng-show="!isForward">
            <form name="frm_section" class="modal_frm" ng-submit="submitSection()" novalidate>
                <table class="table tbl table-striped">
                    <tbody>
                        <tr>
                            <td class="td-20 td-bold">Section Title:</td>
                            <td>
                                <input type="text"
                                name="sec_title"
                                ng-model="formSection.title"
                                required=""
                                class="txt-ipt ipt"
                                ng-class='{txt_err : (frm_section.sec_title.$invalid && frm_section.sec_title.$dirty)}'/>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-20 td-bold">Status:</td>
                            <td>
                                <!-- <input type="text" ng-model="formSection.active" class="txt-ipt"/> -->
                                <label>
                                    <input type="checkbox" ng-model="formSection.enabled"> Active / Deactive
                                </label>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-20 td-bold">Section No:</td>
                            <td>
                                <input
                                type="text"
                                ng-model="formSection.version"
                                class="txt-ipt ipt"
                                required=""
                                name="sec_no"
                                ng-class='{txt_err : (frm_section.sec_no.$invalid && frm_section.sec_no.$dirty)}'
                                />
                            </td>
                        </tr>
                        <tr >
                            <td class="td-20 td-bold">Section Parent:</td>
                            <td>
                                <select
                                ng-model="parentSelect"
                                ng-change="changedValue(parentSelect)"
                                ng-options="option.id as option.translations['en_us'].title ? option.translations['en_us'].title : option.title for option in parentSection">
                                     <option value="">-- Parent section --</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END : TBL -->
                <div text-angular
                    ng-model="formSection.description"></div>
                <!-- <textarea ui-tinymce data-ng-model="formSection.description"></textarea> -->
                <!-- END : EDITOR -->
                <p class="tp-20">
                    <button type="submit"
                        class="save btn-brown">
                        <i class="fa fa-save"></i>&nbsp;&nbsp;SAVE SECTION
                    </button>
                    <span class="msg-update">
                        {{sectionUpdated}}
                    </span>
                </p>
            </form>
        </div>
        <!-- END : FORWARD -->
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6">
        <!-- SECTION LIST -->
        <div class="tbl-div sction-list">
            <div class="tbl-r">
                <div class="t-tr td-bold">
                    <div class="t-td text-center t-ct">Handbook Contents</div>
                </div>
            </div>

            <div class="tbl-r sc-itm"
                ng-repeat="section in sections.items"
                ng-class="{active: section.id == selectedSec}">
                <div class="t-tr">
                    <div class="t-td t-3">Section {{section.version}}</div>
                    <div class="t-td t-ct" ng-bind-html="section.translations['en_us'].title ? section.translations['en_us'].title : section.title"></div>
                    <span ng-show="section.children.total > 0" title="Show all children" class="tbl-show-children" ng-click="showChildren(section)">
                        <i class="fa fa-sign-in"></i>
                    </span>
                    <span title="Edit this section" class="tbl-edit" ng-click="editSection(section)">
                        <i class="fa fa-edit"></i>
                    </span>
                    <span title="Remove this section" class="tbl-remove" ng-click="deleteSection(section)">
                        <i class="fa fa-trash-o"></i>
                    </span>
                </div>
                <div ng-show="section.children.total > 0 && section.children.show">
                    <div class="tbl-r sc-itm"
                     ng-repeat="child_sec in section.children.items"
                    ng-class="{active: child_sec.id == selectedSec}">
                        <div class="t-tr">
                            <div class="t-td t-3">Sub</div>
                            <div class="t-td t-2">{{section.version}}.{{child_sec.version}}</div>
                            <div class="t-td t-ct" ng-bind-html="child_sec.translations['en_us'].title ? child_sec.translations['en_us'].title : child_sec.title"></div>
                            <span title="Edit this section" class="tbl-edit" ng-click="editSection(child_sec)">
                                <i class="fa fa-edit"></i>
                            </span>
                            <span title="Remove this section" class="tbl-remove" ng-click="deleteSection(child_sec)">
                                <i class="fa fa-trash-o"></i>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="table-footer" ng-show="sections.pages >= 2">
                <div class="row">
                    <div class="col-md-12  pagination-container">
                        <pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="sections.total"
                                    max-size="4"
                                    ng-change="gotoPage(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    boundary-links="true"></pagination>
                    </div>
                    <div class="col-md-12 page-num-info text-center">
                        <span>
                            Show
                            <select data-ng-model="numPerPage"
                                    data-ng-options="num for num in numPerPageOpt"
                                    data-ng-change="onNPPChange()">
                            </select>
                            sections / page
                        </span>
                    </div>

                </div>
            </footer>
        </div><!-- END: TBL-div -->

        <div class="section-control">
            <a ng-click="createSubSction(true)">
                Add Sub-Section
            </a>
            <a ng-click="createSubSction(false)">
                Add New Section
            </a>
        </div>
    </div>
</div>
<!-- END : ITEM -->

<!-- PREVIEW PAGE -->
<div class="item-preview" ng-show="showPreview">
    <div class="col-xs-12">
        <span class="cap-note" ng-click="showPreview = !showPreview">Exit Preview</span>
        <div class="prv-logo">
            <img src="images/logo-demo.png" alt="">
        </div>
        <h3 class="ttl-prv">
            {{clientDetail.name}}
        </h3>
        <span class="ver-prv">Version {{handbook.version}},  {{handbook.year}}, {{handbook.language}} Version</span>
        <div class="prv-desc" ng-bind-html="handbook.description"></div>
        <accordion close-others="oneAtATime">
            <accordion-group heading="{{key + 1}}. {{section.title}}" ng-repeat="(key, section) in ungroupSections">
                <span ng-bind-html="section.description" ng-if="section.children.length == 0"></span>
                <div ng-if="section.children.length > 0 && child.id > 0" ng-repeat="(k, child) in section.children">
                    <strong>{{key + 1}}.{{k + 1}} - {{child.title}}</strong>
                    <span ng-bind-html="child.description"></span>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>
<!-- END : ITEM -->
