<!-- <form class="form-inline"><div class="form-group" ng-class="{ 'has-error' : showErrors }" ><label for="inputPage">Page</label><input type="number" class="select-page form-control" ng-model="inputPage" ng-change="selectPage(inputPage)" name="inputPage" id="inputPage"></div></form> -->


<i class="glyphicon glyphicon-triangle-top" ng-class="{'reverse' : reverse && sortKey === sortKeyword}"></i>
<i class="glyphicon glyphicon-triangle-bottom" ng-class="{'reverse' : reverse === false && sortKey === sortKeyword}"></i>