@media (max-width: 1200px) {
	.lv1 {
		> .nav-tabs {
			> li {
				> a {
					font-size: 14px;
					padding: 10px;
				}
			}
		}
	}
	.section-control {
		a {
			&:first-child {
				margin-bottom: 10px;
			}
		}
	}
    .cap-note {
        top: 0;
    }
    .blk-preview {
        margin-top: 40px;
    }
}
@media (max-width: 1024px) {
    .tbl-1024 {
        .table {
            width: 1000px;
        }
    }
}
