<!--data-ng-controller="listMerChantController" Call controller in scripts/Merchant-->
<div class="col-lg-12">
    <div class="page page-table" data-ng-controller="merchantCtrl">
        <section class="panel panel-default table-dynamic">
            <div class="panel-heading">Manager Merchant</div>
            <div class="panel-body">
                <div class="table-filters">
                    <div class="row">
                        <div class="col-sm-4 col-xs-6">
                            <form>
                                <input type="text"
                                       placeholder="Search"
                                       class="form-control"
                                       data-ng-model="searchKeywords"
                                       data-ng-keyup="search()">
                            </form>
                        </div>
                        <!--<div class="col-sm-3 col-xs-6 filter-result-info">-->
                        <!--<span>-->
                        <!--Showing {{filteredStores.length}}/{{stores.length}} entries-->
                        <!--</span>              -->
                        <!--</div>-->
                        <div class="col-sm-2 col-xs-6">
                            <form data-ng-submit="add()" class="add-merchant">
                                <input type="button" name="add" class="btn btn-primary text-center" value="Add New Merchant" data-toggle="modal" data-target="#myModal"/>
                                <!--<a href="#/merchants/add" class="btn btn-primary text-center">Add New Merchant</a>-->
                            </form>
                            <!--Start content add company-->
                            <div id="myModal" class="modal fade" role="dialog">
                                <div class="modal-dialog">
                                    <!-- Modal content-->
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                                            <h4 class="modal-title">Add New Merchant</h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="panel-body">
                                                <form role="form" id="merchants" name="merchants" action="/merchants/add" method="post">
                                                    <div class="form-group">
                                                        <label for="Company">Company </label>
                                                        <input type="text" name="Company" id="Company" class="form-control" />
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="Store">Store</label>
                                                        <input type="text" name="Store" id="Store" class="form-control" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Type">Type</label>
                                                        <input type="text" name="Type" id="Type" class="form-control" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Cat">Cat</label>
                                                        <input type="text" name="Users" id="Cat" class="form-control" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Outlets">Outlets</label>
                                                        <input type="text" name="Outlets" id="Outlets" class="form-control" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="cs">CS</label>
                                                        <input type="text" name="Users" id="CS" class="form-control" />
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Status</label>
                                                        <div class="radio" id="status">
                                                            <label>
                                                                <input type="radio" name="status" id="opt1" value="1" checked="cheked">Live
                                                                &nbsp; &nbsp; &nbsp; &nbsp;
                                                                <input type="radio" name="status" id="opt2" value="2">Not Active
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <input type="button" name="add-new-merchant" class="btn btn-primary text-center" value="Add New Merchant" />
                                                </form>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                            <!--End content add company-->
                        </div>
                    </div>
                </div>

                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Company
                                <!--<span class="glyphicon glyphicon-chevron-up"-->
                                <!--data-ng-click=" order('name') "-->
                                <!--data-ng-class="{active: row == 'name'}"></span>-->
                                <!--<span class="glyphicon glyphicon-chevron-down"-->
                                <!--data-ng-click=" order('-name') "-->
                                <!--data-ng-class="{active: row == '-name'}"></span>-->
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Store
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Type
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Cat
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Outlets
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                CS
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Status
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Actions
                            </div>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="store in currentPageStores">
                        <td>{{store.company}}</td>
                        <td>{{store.store}}</td>
                        <td>{{store.type}}</td>
                        <td>{{store.cat}}</td>
                        <td>{{store.outlets}}</td>
                        <td>{{store.cs}}</td>
                        <td>{{store.status}}</td>
                        <td>
                            <li class="dropdown" dropdown style="list-style-type: none;">
                                <a href="javascript:;" class="dropdown-toggle" dropdown-toggle ng-disabled="disabled" style="text-decoration: underline">{{store.action}}</a>
                                <ul class="dropdown-menu with-arrow">
                                    <li>
                                        <a href="#/merchants/view">
                                            <span data-i18n="View"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#/tasks/tasks">
                                            <span data-i18n="Edit"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#/pages/lock-screen">
                                            <span data-i18n="De-Activate"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#/pages/signin">
                                            <span data-i18n="Assign CS"></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#/pages/signin">
                                            <span data-i18n="Delete Account"></span>
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </td>
                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                    <span>
                        Show
                        <select data-ng-model="numPerPage"
                                data-ng-options="num for num in numPerPageOpt"
                                data-ng-change="onNumPerPageChange()">
                        </select>
                        entries per page
                    </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <pagination class="pagination-sm"
                                        ng-model="currentPage"
                                        total-items="filteredStores.length"
                                        max-size="4"
                                        ng-change="select(currentPage)"
                                        items-per-page="numPerPage"
                                        rotate="false"
                                        boundary-links="true"></pagination>
                        </div>
                    </div>
                </footer>

            </div>

        </section>

    </div>
</div>
