<div class="col-lg-12">
	<div class="page page-table" data-ng-controller="HandbookByUserCtrl">
		<div class="clients_list" ng-show="!isEditClients">
			<h1 class="ttl-page">Security CloudBook List Of {{group.name}}</h1>
			<br>
			<br>
		</div>
		<div class="t-l marg-bot">
			<a href="#/clients/{{ clientId }}/user-group/{{ group.id }}/users" class="btn btn-default" ng-click="createNewVersion()">
				<span class="glyphicon glyphicon-arrow-left" aria-hidden="true"></span>
			</a>
		</div>
		<div class="table-responsive">
			<table class="table tbl tbl-bg table-hover table-striped tbl-w1000">
				<tbody>
				<tr>
					<th class="text-left">Title</th>
					<th class="text-center">Blocked</th>
				</tr>
				<tr ng-repeat="(i, handbook) in handbooks" >
					<td class="text-left">
						<a href="">
							{{ handbook.translations['en_us'].title ? handbook.translations['en_us'].title : handbook.title}}
						</a>
					</td>
					<td class="text-center">
						<input type="checkbox"
						       name="handbook_chk"
						       ng-change="handbookChange(handbook)"
						       ng-model="handbook.blocked"
						/>
						<!--data-ng-disabled=""-->
					</td>
				</tr>
				</tbody>
			</table>
		</div>
		<footer class="table-footer" ng-show="users.pages >= 2">
			<div class="row">
				<div class="col-md-6 page-num-info">
            <span>
                Show
                <select data-ng-model="numPerPage"
                        data-ng-options="num for num in numPerPageOpt"
                        data-ng-change="onNPPChange()">
                </select>
                users / page
            </span>
				</div>
				<div class="col-md-6 text-right pagination-container">
					<pagination class="pagination-sm"
					            ng-model="currentPage"
					            total-items="users.total"
					            max-size="4"
					            ng-change="gotoPage(currentPage)"
					            items-per-page="numPerPage"
					            rotate="false"
					            boundary-links="true"></pagination>
				</div>
			</div>
		</footer>
	</div>

</div>
</div>
