<div class="client_notification_blk" data-ng-controller="notificationCtrl">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 notifi-list">
            <h2 class="ttl-tab">
                <span>List Notifications</span>
            </h2>
            <div class="notifi-itm"
                ng-repeat="(i, item) in notifis._embedded.items">
                <div class="noti-item"
                ng-class="{isnew : item.isNew}">
                    <h3 class="notifi-ttl">{{item.subject}}</h3>
                    <div class="notifi-date">
                        <i class="fa fa-clock-o"></i>
                        {{getTime(item.created_at) | date:'h:mm a, MM.dd.yyyy'}}
                    </div>
                    <div class="notifi-content">{{item.body}}</div>
                    <a title="Push"
                        class="notifi-cmd notifi-push"
                        ng-click="pushNotifi(item)"><i class="fa fa-paper-plane"></i></a>
                    <a title="Edit"
                    class="notifi-cmd notifi-edit"
                    ng-click="showNotiForm(i)"><i class="fa fa-pencil"></i></a>
                    <a title="Delete" ng-click="deleteNotifi(i)" class="notifi-cmd notifi-remove"><i class="fa fa-remove"></i></a>
                </div>
                <!-- END: ITEM LIST -->
                <div class="noti-form" ng-show="notifis._embedded.items[i].shw_frm">
                    <p>
                        <label>Title: </label>
                        <input
                            type="text"
                            class="txt-ipt"
                            ng-model="notifis._embedded.items[i].subject">
                    </p>
                    <p>
                        <label>Content: </label>
                        <textarea
                            class="text-area"
                            placeholder="Content"
                            ng-model="notifis._embedded.items[i].body">
                            </textarea>
                    </p>
                    <p class="t-c">
                        <button class="btn btn-brown"
                            type="submit"
                            ng-click="submitUpdateNotifi(i)"
                            ><i class="fa fa-save"></i>&nbsp;&nbsp;SAVE OFFER</button>
                    </p>
                </div>
                <!-- END : FORM -->
            </div>
            <p class="t-c" ng-if="!notifis._embedded.items">
                No notification, create some?
            </p>
        </div>
        <!-- END: LIST -->
        <div class="col-md-4 col-sm-4 col-xs-12 notifi-form">
            <h2 class="ttl-tab">
                <span>Create Notifications</span>
            </h2>
            <form class="frm_nofiti" name="frm_nofiti">
                <p>
                    <label>Title: </label>
                    <input
                        type="text"
                        class="txt-ipt"
                        placeholder="Subject"
                        ng-model="new_notifi.subject">
                </p>
                <p>
                    <label>Content: </label>
                    <textarea
                        class="text-area"
                        placeholder="Content"
                        ng-model="new_notifi.body"></textarea>
                </p>
                <p class="t-r">
                    <button class="btn btn-brown"
                        type="submit"
                        ng-click="submitCreateNotifi()"
                        >Create</button>
                </p>
            </form>
        </div>
        <!-- END: LIST -->
    </div>
</div>
