<div class="client_notification_blk">
    <div class="row">
        <div class="col-md-8 col-sm-8 col-xs-12 notifi-list">
            <h2 class="ttl-tab">
                <span>List Notifications</span>
            </h2>
            <div class="notifi-itm">
                <h3 class="notifi-ttl">Notification 1</h3>
                <div class="notifi-date">
                    <i class="fa fa-clock-o"></i>
                    12/06/2015 14:30:59
                </div>
                <div class="notifi-content">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                </div>
                <a href="#" class="notifi-push">
                    <i class="fa fa-paper-plane"></i>
                </a>
            </div>
            <!-- END: ITEM -->
            <div class="notifi-itm">
                <h3 class="notifi-ttl">Notification 2</h3>
                <div class="notifi-date">
                    <i class="fa fa-clock-o"></i>
                    14/06/2015 11:20:29
                </div>
                <div class="notifi-content">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                </div>
                <a href="#" class="notifi-push">
                    <i class="fa fa-paper-plane"></i>
                </a>
            </div>
            <!-- END: ITEM -->
            <div class="notifi-itm">
                <h3 class="notifi-ttl">Notification 3</h3>
                <div class="notifi-date">
                    <i class="fa fa-clock-o"></i>
                    12/06/2015 14:30:59
                </div>
                <div class="notifi-content">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                </div>
                <a href="#" class="notifi-push">
                    <i class="fa fa-paper-plane"></i>
                </a>
            </div>
            <!-- END: ITEM -->
            <div class="notifi-itm">
                <h3 class="notifi-ttl">Notification 4</h3>
                <div class="notifi-date">
                    <i class="fa fa-clock-o"></i>
                    14/06/2015 11:20:29
                </div>
                <div class="notifi-content">
                    It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters
                </div>
                <a href="#" class="notifi-push">
                    <i class="fa fa-paper-plane"></i>
                </a>
            </div>
            <!-- END: ITEM -->
        </div>
        <!-- END: LIST -->
        <div class="col-md-4 col-sm-4 col-xs-12 notifi-form">
            <h2 class="ttl-tab">
                <span>Create Notifications</span>
            </h2>
            <form class="frm-nofiti" name="frm-nofiti">
                <p>
                    <label>Title: </label>
                    <input type="text" class="txt-ipt" placeholder="Title">
                </p>
                <p>
                    <label>Content: </label>
                    <textarea class="text-area" placeholder="Content"></textarea>
                </p>
                <p class='text-center'>
                    <button class="btn btn-brown">
                        Create
                    </button>
                </p>
            </form>
        </div>
        <!-- END: LIST -->
    </div>
</div>
