<div class="offers-itm">
    <div class="merchant-button">
        <input type="button" name="add" class="btn bt-edit text-center" value="New Outlet" style=" float: left;padding-right:10px;" />
        <input type="button" name="delete" class="btn bt-edit text-center" value="Delete" style=" float: right;margin-bottom:10px;" />
        <input type="button" name="edit" class="btn bt-edit text-center" value="Edit" style=" float: right;margin-bottom:10px;margin-right: 10px" />
    </div>
    <div class="merchant-ctent">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12 offer-left">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <table class="table table-striped table-bordered tbl">
                            <tr>
                                <td>Offer Title:</td>
                                <td>Main Course</td>
                            </tr>
                            <tr>
                                <td>Offer Type:</td>
                                <td>1-for-1 v</td>
                            </tr>
                            <tr>
                                <td>Est. Value:</td>
                                <td>S$25</td>
                            </tr>
                            <tr>
                                <td>Offer Cat,:</td>
                                <td>F&B v</td>
                            </tr>
                            <tr>
                                <td>GoDiscount Amt:</td>
                                <td>-N.A-</td>
                        </table>
                    </div>
                    <!-- END: TBL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <table class="table table-striped table-bordered tbl">
                            <tr>
                                <td>Effective Date:</td>
                                <td>12 June 2015</td>
                            </tr>
                            <tr>
                                <td>Expires:</td>
                                <td>31 Dec 2015</td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>Active v</td>
                            </tr>
                            <tr>
                                <td>Redemptions Till Date:</td>
                                <td>450</td>
                            </tr>
                        </table>
                    </div>
                    <!-- END: TBL -->
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered tbl">
                            <tr>
                                <td>Total Offer Limit:
                                </td>
                                <td>100/ No Limits (Default)</td>
                                <td>Per:</td>
                                <td>Offer/Month/Year/Default</td>
                            </tr>
                            <tr>
                                <td>Redemption Limit:
                                </td>
                                <td>50/-NA-</td>
                                <td>Per:</td>
                                <td>Company/User</td>
                            </tr>
                        </table>
                    </div>
                    <!-- END: TBL -->
                    <div class="col-xs-12">
                        <h2 class="ttl-tab">
                                                        <span>Redemption Info</span>
                                                    </h2>
                        <form method="post">
                            <textarea ui-tinymce ng-model="tinymceModel4"></textarea>
                        </form>
                        <!-- END : EDITOR -->
                        <h2 class="ttl-tab">
                                                        <span>T&Cs</span>
                                                    </h2>
                        <form method="post">
                            <textarea ui-tinymce ng-model="tinymceModel5"></textarea>
                        </form>
                        <!-- END : EDITOR -->
                    </div>
                </div>
            </div>
            <!-- END : LEFT -->
            <div class="col-md-3 col-sm-3 col-xs-12 offer-right">
                <table class="table table-striped table-bordered tbl">
                    <tr>
                        <th>Participating Outlets
                        </th>
                    </tr>
                    <tr>
                        <td>26 Seah Street</td>
                    </tr>
                    <tr>
                        <td>Bedok Mall, Bedok Central</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <span class="bt-edit">Outlets</span>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- END : RIGHT -->
        </div>
    </div>
</div>
<!-- END : ITEM -->
<div class="offers-itm">
    <div class="merchant-button">
        <input type="button" name="delete" class="btn bt-edit text-center" value="Delete" style=" float: right;margin-bottom:10px;" />
        <input type="button" name="edit" class="btn bt-edit text-center" value="Edit" style=" float: right;margin-bottom:10px;margin-right: 10px" />
    </div>
    <div class="merchant-ctent">
        <div class="row">
            <div class="col-md-9 col-sm-9 col-xs-12 offer-left">
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <table class="table table-striped table-bordered tbl">
                            <tr>
                                <td>Offer Title:</td>
                                <td>Main Course</td>
                            </tr>
                            <tr>
                                <td>Offer Type:</td>
                                <td>1-for-1 v</td>
                            </tr>
                            <tr>
                                <td>Est. Value:</td>
                                <td>S$25</td>
                            </tr>
                            <tr>
                                <td>Offer Cat,:</td>
                                <td>F&B v</td>
                            </tr>
                            <tr>
                                <td>GoDiscount Amt:</td>
                                <td>-N.A-</td>
                        </table>
                    </div>
                    <!-- END: TBL -->
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <table class="table table-striped table-bordered tbl">
                            <tr>
                                <td>Effective Date:</td>
                                <td>12 June 2015</td>
                            </tr>
                            <tr>
                                <td>Expires:</td>
                                <td>31 Dec 2015</td>
                            </tr>
                            <tr>
                                <td>Status:</td>
                                <td>Active v</td>
                            </tr>
                            <tr>
                                <td>Redemptions Till Date:</td>
                                <td>450</td>
                            </tr>
                        </table>
                    </div>
                    <!-- END: TBL -->
                    <div class="col-xs-12">
                        <table class="table table-striped table-bordered tbl">
                            <tr>
                                <td>Total Offer Limit:
                                </td>
                                <td>100/ No Limits (Default)</td>
                                <td>Per:</td>
                                <td>Offer/Month/Year/Default</td>
                            </tr>
                            <tr>
                                <td>Redemption Limit:
                                </td>
                                <td>50/-NA-</td>
                                <td>Per:</td>
                                <td>Company/User</td>
                            </tr>
                        </table>
                    </div>
                    <!-- END: TBL -->
                    <div class="col-xs-12">
                        <h2 class="ttl-tab">
                            <span>Redemption Info</span>
                        </h2>
                        <form method="post">
                           <textarea ui-tinymce ng-model="tinymceModel6"></textarea>
                        </form>

                        <!-- END : EDITOR -->
                        <h2 class="ttl-tab">
                            <span>T&Cs</span>
                        </h2>
                        <form method="post">
                            <textarea ui-tinymce ng-model="tinymceModel7"></textarea>
                        </form>
                        <!-- END : EDITOR -->
                    </div>
                </div>
            </div>
            <!-- END : LEFT -->
            <div class="col-md-3 col-sm-3 col-xs-12 offer-right">
                <table class="table table-striped table-bordered tbl">
                    <tr>
                        <th>Participating Outlets
                        </th>
                    </tr>
                    <tr>
                        <td>26 Seah Street</td>
                    </tr>
                    <tr>
                        <td>Bedok Mall, Bedok Central</td>
                    </tr>
                    <tr>
                        <td class="text-center">
                            <span class="bt-edit">Outlets</span>
                        </td>
                    </tr>
                </table>
            </div>
            <!-- END : RIGHT -->
        </div>
    </div>
</div>
<!-- END : ITEM -->
