<section class="blk-login-wrap"  data-ng-controller="loginCtrl">
  <div class="login-inner">
    <form class="frm-login">
      <header class="login-logo"><a href="#"><img src="images/logo.png" alt=""></a></header>
      <!-- END: LOGO-->
      <section class="login-content">
        <div class="lg-itm"><i class="fa fa-user"></i>
          <input type="text" ng-model="username" placeholder="Username" class="ipt">
        </div>
        <!-- END : ITM-->
        <div class="lg-itm"><i class="fa fa-lock"></i>
          <input type="password" ng-model="password" placeholder="Password" class="ipt">
        </div>
        <!-- END : ITM-->
        <div class="lg-itm clearfix">
          <div class="lg-remem">
            <input type="checkbox" id="chk-remem">
            <label for="chk-remem">Remember me</label>
          </div>
          <div class="lg-button t-r">
            <input type="submit" value="login" ng-click="doLogin()" class="btn btn-brown uppercase">
          </div>
        </div>
        <!-- END : ITM-->
      </section>
      <!-- END : CONTENT-->
    </form>
    <div class="t-c forgot-pass">Forgot your password? <a href="#">Click here.</a></div>
  </div>
</section>
