<h1 class="ttl-page">Manage Clients</h1>
<span class="cap-note" ng-click="isEditClients = !isEditClients">Add New Clients</span>
<table class="table tbl">
    <tbody>
        <tr>
            <th class="text-center">Company</th>
            <th class="text-center">Status</th>
            <th class="text-center">Industry</th>
            <th class="text-center">Users</th>
            <th class="text-center">Est Savings</th>
            <th class="text-center">CS</th>
            <th class="text-center">Actions</th>
        </tr>
        <tr>
            <td class="text-center">Magenta Pte Ltd</td>
            <td class="text-center">Live</td>
            <td class="text-center">HR Advisory</td>
            <td class="text-center">
                35
            </td>
            <td class="text-center">
                $2,500
            </td>
            <td class="text-center">
                Astrid
            </td>
            <td class="text-center td-manage">
                <i class="fa fa-edit" title="Edit" ng-click="isEditClients = !isEditClients"></i>
                <i class="fa fa-check" title="Active"></i>
                <i class="fa fa-sign-in" title="Assign CS"></i>
                <i class="fa fa-trash-o" title="Remove"></i>
            </td>
        </tr>
        <tr>
            <td class="text-center">BSI Group</td>
            <td class="text-center">Live</td>
            <td class="text-center">Banking</td>
            <td class="text-center">
                245
            </td>
            <td class="text-center">
                $35,000
            </td>
            <td class="text-center">
                Astrid
            </td>
            <td class="text-center td-manage">
                <i class="fa fa-edit" title="Edit" ng-click="isEditClients = !isEditClients"></i>
                <i class="fa fa-times" title="De-Active"></i>
                <i class="fa fa-sign-in" title="Assign CS"></i>
                <i class="fa fa-trash-o" title="Remove"></i>
            </td>
        </tr>
        <tr>
            <td class="text-center">Yang Kee </td>
            <td class="text-center">Live</td>
            <td class="text-center">Logistics</td>
            <td class="text-center">
                220
            </td>
            <td class="text-center">
                $5,000
            </td>
            <td class="text-center">
                George
            </td>
            <td class="text-center td-manage">
                <i class="fa fa-edit" title="Edit" ng-click="isEditClients = !isEditClients"></i>
                <i class="fa fa-check" title="Active"></i>
                <i class="fa fa-sign-in" title="Assign CS"></i>
                <i class="fa fa-trash-o" title="Remove"></i>
            </td>
        </tr>
        <tr>
            <td class="text-center">Fastflow</td>
            <td class="text-center">Live</td>
            <td class="text-center">Logistics</td>
            <td class="text-center">
                125
            </td>
            <td class="text-center">
                $8,000
            </td>
            <td class="text-center">
                Not Assigned
            </td>
            <td class="text-center td-manage">
                <i class="fa fa-edit" title="Edit" ng-click="isEditClients = !isEditClients"></i>
                <i class="fa fa-check" title="Active"></i>
                <i class="fa fa-sign-in" title="Assign CS"></i>
                <i class="fa fa-trash-o" title="Remove"></i>
            </td>
        </tr>
    </tbody>
</table>
