<!--data-ng-controller="listclientController" Call controller in scripts/client-->
<div class="col-lg-12">
    <div class="page page-table" data-ng-controller="clientCtrl">
        <div class="clients_list" ng-show="!isEditClients">
            <h1 class="ttl-page">Manage Clients</h1>
            <span class="cap-note"
                  data-toggle="modal"
                  data-target="#createClients" >Add New Clients</span>
            <table class="table tbl tbl-bg table-hover table-striped">
                <tbody>
                    <tr>
                        <th class="text-center">Company</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Industry</th>
                        <th class="text-center">Users</th>
                        <th class="text-center">Est Savings</th>
                        <th class="text-center">CS</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    <tr ng-repeat="client in clients_list">
                        <td class="text-center">
                            <a href="#/clients/{{client.id}}/info">
                                {{client.name}}
                            </a>
                        </td>
                        <td class="text-center">{{client.status}}</td>
                        <td class="text-center">{{client.industry}}</td>
                        <td class="text-center">
                            {{client.user}}
                        </td>
                        <td class="text-center">
                            {{client.est_savings}}
                        </td>
                        <td class="text-center">
                            {{client.cs}}
                        </td>
                        <td class="text-center td-manage">
                            <i class="fa fa-check" title="Active"></i>
                            <i class="fa fa-eye" title="View" ng-click="fnEditClients()"></i>
                            <i class="fa fa-edit" title="Edit" ng-click="fnEditClients()"></i>
                            <i class="fa fa-sign-in" title="Assign CS"></i>
                            <i class="fa fa-trash-o" deleteitem title="Remove"></i>
                        </td>
                    </tr>
                </tbody>
            </table>
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                <span>
                    Show
                    <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                    </select>
                    entries per page
                </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredStores.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    boundary-links="true"></pagination>
                    </div>
                </div>
            </footer>
            <!-- END : PAGINATION -->
            <div id="createClients" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create New Clients</h4>
                        </div>
                        <div class="modal-body">
                            <form class="frm_create_clients modal_frm" name="frm_create_clients">
                                <p>
                                    <label>Company:</label>
                                    <input type="text"
                                           class="ipt"
                                           name="txt-company"/>
                                </p>
                                <p>
                                    <label>Status:</label>
                                    <select class="ipt">
                                        <option value="Live">Live</option>
                                        <option value="Active">Not Active</option>
                                    </select>
                                </p>
                                <p>
                                    <label>Industry:</label>
                                    <input type="text"
                                           class="ipt"
                                           name="txt-industry">
                                </p>
                                <p>
                                    <label>Users:</label>
                                    <input type="number"
                                           class="ipt"
                                           name="txt-users">
                                </p>
                                <p>
                                    <label>Est Savings:</label>
                                    <input type="text"
                                           class="ipt"
                                           name="txt-est">
                                </p>
                                <p>
                                    <label>CS:</label>
                                    <input type="text"
                                           class="ipt"
                                           name="txt-cs">
                                </p>
                                <p class="text-center">
                                    <button class="btn btn-create btn-primary">CREATE</button>
                                </p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END : MODAL CREATE CLIENTS-->
        </div>
        <!-- END : CLIENTS LIST -->

    </div>
</div>
