<!--data-ng-controller="listclientController" Call controller in scripts/client-->
<div class="col-lg-12">
    <div class="page page-table" data-ng-controller="clientCtrl">
        <div class="clients_list" ng-show="!isEditClients">
            <h1 class="ttl-page">Manage Clients</h1>
            <span class="cap-note"
                  data-toggle="modal"
                  data-target="#createClients" >Add New Clients</span>
            <table class="table tbl tbl-bg table-hover table-striped">
                <tbody>
                    <tr>
                        <th class="text-center">Company</th>
                        <th class="text-center">Status</th>
                        <th class="text-center">Industry</th>
                        <th class="text-center">Users</th>
                        <th class="text-center">Est Savings</th>
                        <th class="text-center">CS</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    <tr ng-repeat="client in clients_list" >
                        <td class="text-center">
                            <a href="#/clients/{{client.id}}/info">
                                {{client.name}}
                            </a>
                        </td>
                        <td class="text-center">{{client.status}}</td>
                        <td class="text-center">{{client.industry}}</td>
                        <td class="text-center">
                            {{client.user}}
                        </td>
                        <td class="text-center">
                            {{client.est_savings}}
                        </td>
                        <td class="text-center">
                            {{client.cs}}
                        </td>
                        <td class="text-center td-control">
                            <a><i class="fa fa-check"></i></a>
                            |
                            <a title="Assign CS"><i class="fa fa-sign-in"></i></a>
                            |
                            <a title="Delete Clients" ng-click="deleteClient(client)"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <footer class="table-footer">
                <div class="row">
                    <div class="col-md-6 page-num-info">
                <span>
                    Show
                    <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                    </select>
                    entries per page
                </span>
                    </div>
                    <div class="col-md-6 text-right pagination-container">
                        <pagination class="pagination-sm"
                                    ng-model="currentPage"
                                    total-items="filteredStores.length"
                                    max-size="4"
                                    ng-change="select(currentPage)"
                                    items-per-page="numPerPage"
                                    rotate="false"
                                    boundary-links="true"></pagination>
                    </div>
                </div>
            </footer>
            <!-- END : PAGINATION -->
            <div id="createClients" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Create New Clients</h4>
                        </div>
                        <div class="modal-body">
                            <form
                                class="frm_create_clients modal_frm"
                                name="frm_create_clients"
                                novalidate
                                ng-submit="submitNewClient()">
                                <p>
                                    <label>Company</label>
                                    <input type="text"
                                           class="ipt"
                                           name="co_name"
                                           ng-model="co.name"
                                           ng-minlength="4"
                                           required = ""
                                           ng-class='{txt_err : (frm_create_clients.co_name.$invalid && frm_create_clients.co_name.$dirty)}'
                                            />
                                </p>
                                <p>
                                    <label>Code</label>
                                    <input type="text"
                                           class="ipt"
                                           name="co_code"
                                           ng-model="co.code"
                                           ng-minlength="4"
                                           ng-pattern="rule.noSpace"
                                           required = ""
                                           ng-class='{txt_err : (frm_create_clients.co_code.$invalid && frm_create_clients.co_code.$dirty)}'
                                           />
                                </p>
                                <p>
                                    <label>Biz Reg No.</label>
                                    <input type="text"
                                           class="ipt"
                                           name="co_regno"
                                           ng-model="co.reg_no"
                                           required = ""
                                           ng-minlength="4"
                                           ng-class='{txt_err : (frm_create_clients.co_regno.$invalid && frm_create_clients.co_regno.$dirty)}' />
                                </p>
                                <p>
                                    <label>Head Office No.</label>
                                    <input type="text"
                                           class="ipt"
                                           name="co_headOfficeNo"
                                           ng-model="co.head_office_no"
                                           required = ""
                                           ng-minlength="4"
                                           ng-class='{txt_err : (frm_create_clients.co_headOfficeNo.$invalid && frm_create_clients.co_headOfficeNo.$dirty)}' />
                                </p>
                                <p>
                                    <label>Office Address.</label>
                                    <input type="text"
                                           class="ipt"
                                           name="co_headOfficeAdd"
                                           ng-model="co.office_address"
                                           required = ""
                                           ng-minlength="4"
                                           ng-class='{txt_err : (frm_create_clients.co_headOfficeAdd.$invalid && frm_create_clients.co_headOfficeAdd.$dirty)}'/>
                                </p>
                                <p>
                                    <label>Reservation Email</label>
                                    <input type="text"
                                           class="ipt"
                                           name="co_remail"
                                           ng-model="co.reservation_email"
                                           required = ""
                                           ng-minlength="4"
                                           ng-pattern="rule.validMail"
                                           ng-class='{txt_err : (frm_create_clients.co_remail.$invalid && frm_create_clients.co_remail.$dirty)}'   />
                                </p>
                                <button type="submit" class="save btn-brown">
                                    <i class="fa fa-plus"></i>&nbsp;&nbsp;&nbsp;&nbsp;CREATE NEW CLIENT
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END : MODAL CREATE CLIENTS-->
        </div>
        <!-- END : CLIENTS LIST -->

    </div>
</div>
