<li ng-class="{active : isActive('/clients/client')}">
    <a href="#/clients/client" title="Company Info">Company Info</a>
</li>
<li ng-class="{active : isActive('/clients/client-user')}">
    <a href="#/clients/client-user" title="Users">Users</a>
</li>
<li ng-class="{active : isActive('/clients/client-handbook')}">
    <a href="#/clients/client-handbook" title="Handbook">Handbook</a>
</li>
<li ng-class="{active : isActive('/clients/client-policies')}">
    <a href="#/clients/client-policies" title="Policies">Policies</a>
</li>
<li ng-class="{active : isActive('/clients/client-insurance')}">
    <a href="#/clients/client-insurance" title="Insurance">Insurance</a>
</li>
<li ng-class="{active : isActive('/clients/client-healthcare')}">
    <a href="#/clients/client-healthcare" title="Healthcare">Healthcare</a>
</li>
<li ng-class="{active : isActive('/clients/client-imerchant')}">
    <a href="#/clients/client-imerchant" title="iMerchant">iMerchant</a>
</li>
