<ng-form name="frm_crt_handbook" novalidate>
    <table class="table tbl table-striped">
        <tbody>
            <tr>
                <td class="td-20">CloudBook Title:</td>
                <td>
                    <input type="text"
                    ng-model="handbook.title"
                    class="txt-ipt"
                    required =""
                    name="hb_title"
                    ng-class="{txt_err : (frm_crt_handbook.hb_title.$invalid && frm_crt_handbook.hb_title.$touched)}"
                    />
                </td>
                {{frm_crt_handbook | json : 4}}
            </tr>
            <tr>
                <td class="td-20">Version:</td>
                <td>
                    <input
                    type="text"
                    required
                    ng-model="handbook.version"
                    name="hb_version"
                    class="txt-ipt"
                    ng-class="{txt_err : frm_crt_handbook.hb_version.$error.required}"/>
                </td>
            </tr>
            <tr>
                <td class="td-20">Year:</td>
                <td>
                    <input
                    type="text"
                    required
                    ng-model="handbook.year"
                    name="hb_year"
                    class="txt-ipt"
                    ng-class="{txt_err : frm_crt_handbook.hb_year.$error.required}"/>
                </td>
            </tr>
            <tr>
                <td class="td-20">Language:</td>
                <td>
                    <input type="text"
                    required
                    ng-model="handbook.language"
                    name="hb_language"
                    class="txt-ipt"
                    ng-class="{txt_err : frm_crt_handbook.hb_language.$error.required}"/>
                </td>
            </tr>

        </tbody>
    </table>

    <button
    type="submit"
    ng-click="submitHandbookInfo()"
    class="save btn-brown">
        <i class="fa fa-save"></i>&nbsp;SAVE
    </button>
    <!-- END : TBL -->
</form>
