<div class="item-preview" ng-show="!showPreview">
    <div class="col-md-8 col-sm-8 col-xs-6">
        <div class="sec-itm blk-preview">
            <table class="table tbl table-striped">
                <tbody>
                    <tr>
                        <td class="td-20 td-bold">Section Title:</td>
                        <td>
                            <input type="text" value="" class="txt-ipt"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-20 td-bold">Status:</td>
                        <td>
                           <input type="text" value="" class="txt-ipt"/>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-20 td-bold">Section No:</td>
                        <td>
                            <input type="text" value="" class="txt-ipt"/>
                        </td>
                    </tr>
                </tbody>
            </table>
            <!-- END : TBL -->
            <form method="post">
                <div class="bnf-editor" id="editor_22" tinyeditor>
                </div>
            </form>
            <!-- END : EDITOR -->
        </div>
        <!-- END : FORWARD -->
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
        <table class="table tbl tbl-small table-striped">
            <tbody>
                <tr>
                    <td class="text-center td-bold" colspan="3">
                        CloudBook Contents
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- END : TBL -->
        <div class="section-control">
            <a>
                Add Sub-Section
            </a>
            <a>
                Add New Section
            </a>
        </div>
    </div>
</div>
<!-- END : ITEM -->
