<div class="handbook_list" ng-show="!isCreateNew">
    <h2 class="ttl-tab">
        <span>Employee Handbook</span>
    </h2>
    <span class="cap-note" ng-click="isCreateNew = !isCreateNew">       
        Create New
    </span>
    <table class="table tbl table-hover table-striped">
        <tbody>
            <tr>
                <th class="text-center">Version</th>
                <th class="text-center">Last Modified</th>
                <th class="text-center">Language</th>
                <th class="text-center">Published</th>
                <th class="text-center">Manage</th>
            </tr>
            <tr>
                <td class="text-center">1.4.1</td>
                <td class="text-center">12 Jun 2015</td>
                <td class="text-center">English</td>
                <td class="text-center">
                    <input type="checkbox" name="handbook_chk" checked=checked id="chk_hb_1" />
                </td>
                <td class="text-center td-manage">
                    <i class="fa fa-edit" title="Edit Handbook"></i>
                    <i class="fa fa-trash-o" title="Remove Handbook"  deleteitem></i>
                </td>
            </tr>
            <tr>
                <td class="text-center">1.3.1</td>
                <td class="text-center">05 Apr 2014</td>
                <td class="text-center">Chinese</td>
                <td class="text-center">
                    <input type="checkbox" name="handbook_chk" checked=checked id="chk_hb_2" />
                </td>
                <td class="text-center td-manage">
                    <i class="fa fa-edit" title="Edit Handbook"></i>
                    <i class="fa fa-trash-o" title="Remove Handbook"  deleteitem></i>
                </td>
            </tr>
            <tr>
                <td class="text-center">1.2.1</td>
                <td class="text-center">12 Jun 2015</td>
                <td class="text-center">English</td>
                <td class="text-center">
                    <input type="checkbox" name="handbook_chk" id="chk_hb_3" />
                </td>
                <td class="text-center td-manage">
                    <i class="fa fa-edit" title="Edit Handbook"></i>
                    <i class="fa fa-trash-o" title="Remove Handbook"  deleteitem></i>
                </td>
            </tr>
        </tbody>
    </table>
    <footer class="table-footer">
        <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                                        Show
                                        <select data-ng-model="numPerPage"
                                                data-ng-options="num for num in numPerPageOpt"
                                                data-ng-change="onNumPerPageChange()">
                                        </select>
                                        entries per page
                                    </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" boundary-links="true"></pagination>
            </div>
        </div>
    </footer>
    <!-- END : PAGINATION -->
</div>
<!-- END: HANDBOOK LIST -->
<div class="create_handbook" ng-show="isCreateNew">
    <h2 class="ttl-tab">
        <span>Create Employee Handbook</span>
    </h2>
    <tabset class="client-tabs lv2">
        <tab heading="Handbook Info" ng-click="selectTabChild(0)">
            <div ng-include="'views/clients/tab_handbook_info.html'"></div>
        </tab>
        <!-- END: TAB -->
        <tab heading="General Description" ng-click="selectTabChild(1)">
            <div ng-include="'views/clients/tab_handbook_general.html'"></div>
        </tab>
        <!-- END: TAB -->
        <tab heading="Sections" ng-click="selectTabChild(2)">
            <div class="row" ng-include="'views/clients/tab_handbook_section.html'"></div>
        </tab>
        <!-- END: TAB -->
        <tab heading="Contacts" ng-click="selectTabChild(3)">
            <div ng-include="'views/clients/tab_handbook_contact.html'"></div>
        </tab>
        <!-- END: TAB -->
    </tabset>
</div>
<!-- END: BLOCK CREATE -->
