<div class="page-err">
    <div class="err-container">
        <div class="text-center">
            <div class="err-status">
                 <h1>498</h1>
            </div>
            <div class="err-message">
                <h2>Your session has expired. Please log in again</h2>
            </div>
            <div class="err-body">
                <a href="#/login" class="btn btn-lg btn-goback">
                    <span class="glyphicon glyphicon-home"></span>
                    <span class="space"></span>
                    Go back to Login page
                </a>
            </div>
        </div>
    </div>
    <div class="footer text-center">
        Copyright 2014 {{main.brand}} Admin
    </div>
</div>