<!-- END : USER LIST -->
<div class="user-edit" data-ng-controller="OutletCtrl">
    <h2 class="ttl-tab">
        <a href="#/merchant/{{clientId}}/business/{{businessId}}">OUTLETS</a>
        <span class="sub-sep"><i class="fa fa fa-caret-right"></i></span>
        <span>{{outlet.name}}</span>
    </h2>
    <form name="frm_update_outlet" class="frm_update_outlet" novalidate>
    <div class="t-r marg-bot ">
        <span class="msg-update">{{infoUpdated}} </span>
        <button type="submit" class="btn btn-brown" ng-click="updateOutlet()">
            <i class="fa fa-pencil"></i>
            Submit to save
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <button class="btn btn-edit" ng-click="deleteOutlet()">Delete</button>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="hidden" ng-model="outlet.id" value="{{business.id}}">
            <table class="table tbl table-striped">
                <tbody>
                    <tr>
                        <th class="td-30">Name <span class="red">*</span></th>
                        <td>
                            <input type="text"
                                name="out_name"
                                class="txt-ipt"
                                ng-class="{txt_disabled : !isDisable}"
                                ng-model="outlet.name"
                                required>
                            <p style="color:red" ng-show="frm_update_outlet.out_name.$dirty && frm_update_outlet.out_name.$invalid">
                              <span ng-show="frm_update_outlet.out_name.$error.required && frm_update_outlet.out_name.$dirty">Name is required.</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="td-30">Contact No. <span class="red">*</span></th>
                        <td><input type="text"
                                name="out_contact_no"
                                ng-model="outlet.contact_no"
                                class="txt-ipt"
                                ng-class="{txt_disabled : !isDisable}"
                                ng-pattern="/^[\d ]+$/"
                                required>
                            <p style="color:red">
                                <span ng-show="frm_update_outlet.out_contact_no.$invalid  && frm_update_outlet.out_contact_no.$dirty">Please input only number and whitespace</span>
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <th class="td-30">Address</th>
                        <td>
                            <!--input type="text"
                                name="out_location"
                                class="txt-ipt"
                                ng-class="{txt_disabled : !isDisable}"
                                value="Not Available Yet!"
                                required-->
                            <input type="text"
                                name="out_address"
                                ng-model="outlet.out_address"
                                class="txt-ipt"
                                ng-class="{txt_disabled : !isDisable}"
                                ng-pattern="/^[\d ]+$/"
                                required>
                            <p style="color:red">
                                <span ng-show="frm_update_outlet.out_address.$invalid  && frm_update_outlet.out_address.$dirty">Address is required.</span>
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END: COL -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <input type="hidden" ng-model="outlet.id" value="{{business.id}}">
            <table class="table tbl table-striped">
                <tbody>
                    <tr>
                        <th class="td-30">Location</th>
                        <td>
                            <!--input type="text"
                                name="out_location"
                                class="txt-ipt"
                                ng-class="{txt_disabled : !isDisable}"
                                value="Not Available Yet!"
                                required-->
                            <input type="text"
                                name="out_location"
                                ng-model="outlet.location"
                                class="txt-ipt"
                                required>
                            <!-- <div ng-show="outlet.location && outlet.location.addresses.total > 0">
                                <p ng-repeat="address in outlet.location.addresses._embedded.items">{{address.value}}</p>
                            </div> -->
                        </td>
                    </tr>
                </tbody>
            </table>
            <ng-gmap class="g-map" data="data_map" ng-result="res_map"></ng-gmap>
        </div>
        <!-- END: COL -->
    </div>
    </form>
</div>
<!-- END : BUSINESS EDIT -->
