<div class="fileUpload">
	<!--<img-->
	<!--ngf-thumbnail="file || ' '"-->
	<!--ng-show="file"-->
	<!--ngf-size="{width: 20, height: 20, quality: 0.9}">-->
    <label for="{{uniqueID}}">{{label}}</label>
    <div style="height: 0px; width: 0px; overflow: hidden;">
        <input type="file" name="userfile" class="fileToUpload" 
        id="{{uniqueID}}"
        ngf-select
        ng-model="file"
               accept="{{validateType}}" >
        >
    </div>

    <div style="width: {{progressPercentage || 0}}%; margin-top: {{progressPercentage && 4}}px; height:{{progressPercentage && 4}}px; background: {{color}}; transition: width 0.3s ease">
    	
    <div>{{status}}</div>
    </div>
</div>
