<div class="clients_edit" data-ng-controller="CategoryCtrl">
	<h1 class="ttl-page">
		{{clientDetail.name}}
		<span class="sp-sts green" ng-if="clientDetail.status">{{clientDetail.status}}</span>
	</h1>
	<section class="panel panel-default table-dynamic">
		<div class="panel-body lv1">
			<ol class="mg_breadcrumb breadcrumb">
				<li><a href="{{ClientPage.tabUrls.info ? ClientPage.tabUrls.info : 'javascript:;'}}" >{{ clientDetail.name }}</a></li>
				<li class="active"><a href="#/clients/{{clientDetail.id}}/categories/list" >Folders</a></li>
				<li class="active">{{ category.name }}</li>
			</ol>
			<!-- END : MENU -->

			<div class="t-r">
				<a class="btn btn-brown marg-bot" href="#/clients/{{clientDetail.id}}/categories/list">View List Folder</a>
			</div>
			<a class="btn btn-default marg-bot" href="#/clients/{{clientDetail.id}}/category/{{category.id}}/addHandbooks">Add Handbook</a>
			<div>
				<form name="frm_update_category" novalidate ng-submit="submitCategory()">
					<table class="table tbl table-striped">
						<tbody>
							<tr>
								<td class="td-20">Category Name</td>
								<td>

									<input type="text"
									       ng-model="category.name"
									       class="txt-ipt"
									       required
									       name="cat_name"
									       ng-class='{txt_err : (frm_crt_handbook.hb_title.$invalid && frm_crt_handbook.hb_title.$dirty)}'
									/>
									<p style="color:red">
										<span ng-show="frm_crt_handbook.hb_title.$invalid  && frm_crt_handbook.hb_title.$dirty">Title is required.</span>
									</p>
								</td>
							</tr>
							<tr>
								<td class="td-20">Enable</td>
								<td>
									<input
											type="checkbox"
											required
											ng-model="category.enabled"
											name="cat_title"
											class="txt-ipt"
											ng-class='{txt_err : (frm_crt_handbook.hb_version.$invalid && frm_crt_handbook.hb_version.$dirty)}'
									/>
									<p style="color:red">
										<span ng-show="frm_crt_handbook.hb_version.$invalid  && frm_crt_handbook.hb_version.$dirty">Version is required.</span>
									</p>
								</td>
							</tr>
						</tbody>
					</table>

					<div class="table-responsive">
						<table class="table tbl tbl-bg table-hover table-striped tbl-w1000">
							<tbody>
							<tr>
								<th class="text-left">Title</th>
							</tr>
							<tr ng-repeat="(i, handbook) in handbooks" >
								<td class="text-left">
									<a href="">
										{{handbook.title}}
									</a>
								</td>
							</tr>
							</tbody>
						</table>
					</div>

					<p>
						<button
								type="submit"
								class="save btn-brown">
							<i class="fa fa-save"></i>&nbsp;SAVE INFO
						</button>
				        <span class="msg-update">
				            {{infoUpdated}}
				        </span>
					</p>
					<!-- END : TBL -->
				</form>
			</div>
			<!-- END : TAB -->
		</div>
	</section>
</div>
<!-- END : CLIENTS EDIT-->
