
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Edit Company Info</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <form role="form" id="merchants" name="merchants" action="/merchants/add" method="post">
                        <div class="form-group">
                            <label for="Company">Company Reg Biz Name</label>
                            <input type="text" name="Company" id="Company" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label for="Store">Big reg No</label>
                            <input type="text" name="Store" id="Store" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Type">Officce Location</label>
                            <input type="text" name="Type" id="Type" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Cat">Building Address</label>
                            <input type="text" name="Users" id="Cat" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="Outlets">Admin User Email</label>
                            <input type="text" name="Outlets" id="Outlets" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label for="cs">User Contact</label>
                            <input type="text" name="Users" id="CS" class="form-control" />
                        </div>

                        <input type="button" name="edit-company-info" class="btn btn-primary text-center" value="Save" />
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" name="edit-company-info">Edit</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
