<li ng-class="{active : isActive('/clients/' + clientDetail.id + '/info')}">
    <a href="{{ClientPage.tabUrls.info ? ClientPage.tabUrls.info : 'javascript:;'}}" title="Company Info">Company Info</a>
</li>
<li data-ng-show="permissionUser.VIEW" ng-class="{active : isActive('/clients/' + clientDetail.id + '/user')}">
    <a href="{{ClientPage.tabUrls.user ? ClientPage.tabUrls.user : 'javascript:;'}}" title="Users">Users</a>
</li>
<li data-ng-show="permissionHandbook.VIEW" ng-class="{active : isActive('/clients/' + clientDetail.id + '/handbooks')}">
    <a href="{{ClientPage.tabUrls.handbooks ? ClientPage.tabUrls.handbooks : 'javascript:;'}}" title="Handbook">Cloud Books</a>
</li>
<!--<li ng-class="{active : isActive('/clients/' + clientDetail.id + '/notifications')}">-->
    <!--<a href="{{ClientPage.tabUrls.notifications ? ClientPage.tabUrls.notifications : 'javascript:;'}}" title="notifications">Notifications</a>-->
<!--</li>-->
<!--<li ng-class="{active : isActive('/clients/' + clientDetail.id + '/policies')}">-->
    <!--<a href="{{ClientPage.tabUrls.policies ? ClientPage.tabUrls.policies : 'javascript:;'}}" title="Policies">Policies</a>-->
<!--</li>-->
<!--<li ng-class="{active : isActive('/clients/' + clientDetail.id + '/insurance')}">-->
    <!--<a href="{{ClientPage.tabUrls.insurance ? ClientPage.tabUrls.insurance : 'javascript:;'}}" title="Insurance">Insurance</a>-->
<!--</li>-->
<!--<li ng-class="{active : isActive('/clients/' + clientDetail.id + '/healthcare')}">-->
    <!--<a href="{{ClientPage.tabUrls.healthcare ? ClientPage.tabUrls.healthcare : 'javascript:;'}}" title="Healthcare">Healthcare</a>-->
<!--</li>-->
<!--<li ng-class="{active : isActive('/clients/' + clientDetail.id + '/imerchant')}">-->
    <!--<a href="{{ClientPage.tabUrls.imerchant ? ClientPage.tabUrls.imerchant : 'javascript:;'}}" title="iMerchant">iMerchant</a>-->
<!--</li>-->
