<div class="page-tab page-client-user" data-ng-controller="UsersCtrl">
    <div class="user-list">
        <p class="marg-bot">Total No.  User: <strong>{{users.total ? users.total : 0}}</strong></p>
        <p class="user-sts">
            <span class="active">Active</span>
            <span>Un-Active</span>
            <span>De-Active</span>
        </p>
        <div class="t-r">
            <a href="#/clients/{{clientId}}/new-user" class="btn btn-brown">Add new user</a>
        </div>
        <div class="table-responsive tbl-1024" ng-show="users.total">
            <table class="table tbl tbl-bg table-hover table-striped">
                <tbody>
                    <tr>
                        <th class="text-center">Email</th>
                        <th class="text-center">First name</th>
                        <th class="text-center">Last Name</th>
                        <th class="text-center">Contact No.</th>
                        <th class="text-center">Verification Code</th>
                        <th class="text-center">Employee Class</th>
                        <th class="text-center td-18">Date Added</th>
                        <th class="text-center td-15">Actions</th>
                    </tr>
                    <tr ng-repeat="user in users.items">
                        <td><a href="#/clients/{{clientId}}/user/{{user.email}}">{{user.email}}</a></td>
                        <td  class="text-center">{{user.first_name}}</td>
                        <td  class="text-center">{{user.last_name}}</td>
                        <td  class="text-center">{{user.contact_no ? user.contact_no : 'Not Available Yet!'}}</td>
                        <td  class="text-center">{{user.code ? user.code : 'Not Available Yet!'}}</td>
                        <td  class="text-center">{{user.emply_class ? user.emply_class : 'Not Available Yet!'}}</td>
                        <td  class="text-center td-18">
                            sssss
                            {{user.date_added ? user.date_added | date:'MM/dd/yyyy @ h:mma' : '-'}}
                        </td>
                        <td class="td-control text-center td-15">
                            <a><i class="fa fa-check"></i></a>
                            |
                            <a title="Ban"><i class="fa fa-ban"></i></a>
                            |
                            <a title="Delete User" ng-click="removeUser(user)"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="table-footer" ng-show="users.pages >= 2">
            <div class="row">
                <div class="col-md-6 page-num-info">
            <span>
                Show
                <select data-ng-model="numPerPage"
                        data-ng-options="num for num in numPerPageOpt"
                        data-ng-change="onNPPChange()">
                </select>
                users / page
            </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="users.total"
                                max-size="4"
                                ng-change="gotoPage(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    <!-- END : PAGINATION -->
    </div>
</div>
