<div class="page-tab page-client-user" data-ng-controller="UsersCtrl">
    <div class="user-list">
        <div class="row">
            <br/>
            <p class="marg-bot col-md-4 col-sm-4">Total No.  User: <strong>{{users.total ? users.total : 0}}</strong></p>
            <p class="user-sts col-md-8 col-sm-8 t-r">
                <span class="active">Active</span>
                <span>Un-Active</span>
                <span>De-Active</span>
            </p>
        </div>
        <br/>
        <div class="t-r clearfix">
            <span class="f-l msg-update" ng-show="infoUpdated" >{{infoUpdated}}</span>
            <a href="#/clients/{{clientId}}/new-user" class="btn btn-brown btn-add-user">Add new user</a>
        </div>

        <div class="table-responsive" ng-show="users.items.length">
            <table class="table tbl tbl-w1000 tbl-bg table-hover table-striped">
                <tbody>
                    <tr>
                        <th class="text-center">Email</th>
                        <th class="text-center">First name</th>
                        <th class="text-center">Last Name</th>
                        <th class="text-center">Contact No.</th>
                        <th class="text-center">Verification Code</th>
                        <th class="text-center">Employee Class</th>
                        <th class="text-center td-18">Date Added</th>
                        <th class="text-center td-15">Actions</th>
                    </tr>
                    <tr ng-repeat="(i, user) in users.items">
                        <td><a href="#/clients/{{clientId}}/user/{{user.position_data.id}}">{{user.email}}</a></td>
                        <td  class="text-center">{{user.first_name}}</td>
                        <td  class="text-center">{{user.last_name}}</td>
                        <td  class="text-center">{{user.mobile_no ? user.mobile_no : '-'}}</td>
                        <td  class="text-center">{{user.code ? user.code : '-'}}</td>
                        <td  class="text-center">{{user.employee_class ? user.employee_class : '-'}}</td>
                        <td  class="text-center td-18" ng-if="getTime(user.date_added)">
                            {{getTime(user.date_added) | date:'MM.dd.yyyy'}}
                        </td>
                        <td  class="text-center td-18" ng-if="!getTime(user.date_added)">-</td>
                        <td class="td-control text-center td-15">
                            <a title="Enabled/Not"
                                ng-click="enabUser(user, i)">
                                <i class="fa fa-check" ng-show="user.enabled"></i>
                                <i class="fa fa-times" ng-show="!user.enabled"></i>
                            </a>
                            |
                            <a title="Ban"><i class="fa fa-ban"></i></a>
                            |
                            <a title="Delete User" ng-click="removeUser(user)"><i class="fa fa-trash-o"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer class="table-footer" ng-show="users.pages >= 2">
            <div class="row">
                <div class="col-md-6 page-num-info">
            <span>
                Show
                <select data-ng-model="numPerPage"
                        data-ng-options="num for num in numPerPageOpt"
                        data-ng-change="onNPPChange()">
                </select>
                users / page
            </span>
                </div>
                <div class="col-md-6 text-right pagination-container">
                    <pagination class="pagination-sm"
                                ng-model="currentPage"
                                total-items="users.total"
                                max-size="4"
                                ng-change="gotoPage(currentPage)"
                                items-per-page="numPerPage"
                                rotate="false"
                                boundary-links="true"></pagination>
                </div>
            </div>
        </footer>
    <!-- END : PAGINATION -->
    </div>
</div>
