<div ng-show="!isHandbookShow" class="handbook_list">
    <h2 class="ttl-tab">
        <span>Employee Handbook</span>
    </h2>

    <div style="margin-bottom: 15px; height: 30px;">
        <div class="col-md-6 col-xs-6 t-l marg-bot">
            <div class="btn btn-brown" ng-click="magicShowCategoryHandbook()">{{ showAllHandbook ? 'View By Category' : 'View By List Handbook' }}</div>
        </div>
        <div class="col-md-6 col-xs-6 t-r marg-bot" data-ng-show="permissionHandbook.CREATE">
            <div class="btn btn-brown" ng-click="createNewVersion()">Create New Cloud Book</div>
        </div>
    </div>
    <!--Handbook by category -->
    <div data-ng-show="!showAllHandbook" data-ng-if="!showAllHandbook" >
        <div ng-repeat="cat in categories" ng-if="cat.enabled == true" ng-class="{active_hanbook: cat == 1}" class="handbook_category" ng-click="handbookShow(cat)">
            {{ cat.name }}
        </div>

    </div>
    <!--Handbooks all -->
    <div data-ng-show="showAllHandbook" data-ng-if="showAllHandbook">
        <table class="table tbl table-hover table-striped" >
            <tbody>
            <tr>
                <th class="text-center">Title</th>
                <th class="text-center">Version</th>
                <th class="text-center">Language</th>
                <th class="text-center">Published</th>
                <th class="text-center">Manage</th>
            </tr>
            <tr ng-repeat="hb_list in handbookAll">
                <td class="text-center">
                    <a href="#/clients/{{clientDetail.id}}/handbooks/{{hb_list.id}}/view">
                        {{hb_list.translations['en_us'].title ? hb_list.translations['en_us'].title : hb_list.title}}
                    </a>
                </td>
                <td class="text-center">{{hb_list.version}}</td>
                <!--<td class="text-center">Not Available Yet!</td>-->
                <td class="text-center">English</td>
                <td class="text-center">
                    <input type="checkbox"
                           name="handbook_chk"
                           id="{{hb_list.id}}"
                           ng-change="changePublished(hb_list, clientDetail.id)"
                           ng-model="hb_list.enabled"
                           data-ng-disabled="!hb_list.EDIT"
                    />
                </td>
                <td class="text-center td-manage">
                    <a href="#/clients/{{clientDetail.id}}/handbooks/{{hb_list.id}}">
                        <i class="fa fa-edit"
                           title="Edit Handbook" data-ng-show="hb_list.EDIT"></i>
                    </a>
                    <i data-ng-show="hb_list.DELETE" class="fa fa-trash-o" title="Remove Handbook" ng-click="deleteHandbook(hb_list)"></i>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <!-- End Handbook all -->
    <footer class="table-footer" ng-if="categories.length">
        <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                    Show
                    <select data-ng-model="numPerPage"
                            data-ng-options="num for num in numPerPageOpt"
                            data-ng-change="onNumPerPageChange()">
                    </select>
                    entries per page
                </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <pagination class="pagination-sm" ng-model="currentPage" total-items="filteredStores.length" max-size="4" ng-change="select(currentPage)" items-per-page="numPerPage" rotate="false" boundary-links="true"></pagination>
            </div>
        </div>
    </footer>
    <!-- END : PAGINATION -->
</div>
<!-- END: HANDBOOK LIST -->
<div class="create_handbook" ng-if="isCreateHandbook">
    <h2 class="ttl-tab">
        <span>Create Employee Handbook</span>
    </h2>
    <tabset class="client-tabs lv2">
        <tab heading="Handbook Info">
            <div ng-include="'views/handbooks/create_form.html'"></div>
        </tab>
        <!-- END: TAB -->
    </tabset>
</div>
<!-- END: BLOCK CREATE -->
