<table class="table tbl table-striped">
    <tbody>
        <tr>
            <td class="td-20 td-bold">Current Logo:</td>
            <td>

            </td>
        </tr>
        <tr>
            <td class="td-20 td-bold">Upload New Logo:</td>
            <td>
                <div class="fileUpload">
                    <span>Upload...</span>
                    <div style="height: 0px; width: 0px; overflow: hidden;">
                        <input type="file" name="userfile" class="fileToUpload">
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- END : TBL -->
<form method="post">
    <div class="bnf-editor" id="editor_21" tinyeditor>

    </div>
</form>
<!-- END : EDITOR -->
