<div class="user-list" ng-show="!isEditUser && !isNewUser">
    <p>Total No.  User: <strong> 240</strong></p>
    <p class="user-sts">
        <span class="active">Active</span>
        <span>Un-Active</span>
        <span>De-Active</span>
    </p>
    <span class="cap-note" ng-click="isNewUser = !isNewUser">Add new user</span>
    <div class="table-responsive tbl-1024">
        <table class="table tbl tbl-bg table-hover table-striped">
            <tbody>
                <tr>
                    <th class="text-center td-18">Date Added</th>
                    <th class="text-center">First name</th>
                    <th class="text-center">Last Name</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Contact No.</th>
                    <th class="text-center">Verification Code</th>
                    <th class="text-center">Employee Class</th>
                    <th class="text-center td-15">Actions</th>
                </tr>
                <tr ng-repeat="us_list in dt_tab_user_list">
                    <td  class="text-center td-18">{{us_list.data_add}}</td>
                    <td  class="text-center">
                        <a ng-click="fnEditUser()">
                            {{us_list.firstname}}
                        </a>
                    </td>
                    <td  class="text-center">
                        <a ng-click="fnEditUser()">
                            {{us_list.lastname}}
                        </a>
                    </td>
                    <td  class="text-center">{{us_list.email}}</td>
                    <td  class="text-center">{{us_list.contact_no}}</td>
                    <td  class="text-center">{{us_list.veri_code}}</td>
                    <td  class="text-center">{{us_list.employ_cls}}</td>
                    <td class="td-manage text-center td-15">
                        <i class="fa fa-check" title="Active"></i>
                        <i class="fa fa-edit" title="Edit" ng-click="fnEditUser()"></i>
                        <i class="fa fa-trash-o" title="Remove" deleteitem></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="table-footer">
        <div class="row">
            <div class="col-md-6 page-num-info">
        <span>
            Show
            <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
            </select>
            entries per page
        </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <pagination class="pagination-sm"
                            ng-model="currentPage"
                            total-items="filteredStores.length"
                            max-size="4"
                            ng-change="select(currentPage)"
                            items-per-page="numPerPage"
                            rotate="false"
                            boundary-links="true"></pagination>
            </div>
        </div>
    </footer>
    <!-- END : PAGINATION -->
</div>
<!-- END : USER LIST -->
<div class="user-edit" ng-show="isEditUser">
    <h2 class="ttl-tab">
        <span>Users > Joan Yan</span>
    </h2>
    <div class="control-button">
        <span ng-click="CheckDisabled()">{{clients_edit}}</span>
        <span>Delete</span>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-12">
            <table class="table tbl table-striped">
                <tbody>
                    <tr>
                        <th class="td-30">First Name <span class="red">*</span></th>
                        <td>
                            <input type="text"
                                value="{{clients_user_detail.firstname}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}">
                        </td>
                    </tr>
                    <tr>
                        <th class="td-30">Last Name</th>
                        <td><input type="text"
                                value="{{clients_user_detail.lastname}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">Email <span class="red">*</span></th>
                        <td><input type="text"
                                value="{{clients_user_detail.email}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">Contact</th>
                        <td><input type="text"
                                value="{{clients_user_detail.contact}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">Employee Class</th>
                        <td><input type="text"
                                value="{{clients_user_detail.employ_cls}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">Function</th>
                        <td><input type="text"
                                value="{{clients_user_detail.function}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">Birthday</th>
                        <td><input type="text"
                                value="{{clients_user_detail.birthday}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">NRIC No.</th>
                        <td><input type="text"
                                value="{{clients_user_detail.nric}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END: COL -->
        <div class="col-md-6 col-sm-6 col-xs-12">
            <table class="table tbl table-striped">
                <tbody>
                    <tr>
                        <th class="td-30">Date Added</th>
                        <td><input type="text"
                                value="{{clients_user_detail.date_add}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">De-activated Date</th>
                        <td><input type="text"
                                value="{{clients_user_detail.date_end}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">Birthday</th>
                        <td><input type="text"
                                value="{{clients_user_detail.birthday}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">App Status</th>
                        <td>
                            <input type="text"
                                value="{{clients_user_detail.app_status}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}">
                        </td>
                    </tr>
                    <tr>
                        <th class="td-30">Verification Code</th>
                        <td><input type="text"
                                value="{{clients_user_detail.veri_code}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">Redemptions</th>
                        <td><input type="text"
                                value="{{clients_user_detail.redemptions}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">Est. Savings</th>
                        <td><input type="text"
                                value="{{clients_user_detail.est_saving}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                    <tr>
                        <th class="td-30">Medical Card ID</th>
                        <td><input type="text"
                                value="{{clients_user_detail.card_id}}"
                                class="txt-ipt"
                                ng-disabled="!isDisable"
                                ng-class="{txt_disabled : !isDisable}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END: COL -->
        <div class="col-xs-12 user-history">
            <h2 class="ttl-tab">
                <span>Redemption History</span>
            </h2>
            <table class="table tbl tbl-bg table-striped">
                <tbody>
                    <tr>
                        <th class="text-center">Date/Time</th>
                        <th>Merchant</th>
                        <th>Item</th>
                        <th>Location</th>
                        <th>Category</th>
                        <th>Est. Value</th>
                        <th>Ref </th>
                    </tr>
                    <tr ng-repeat="redemption in clients_user_redemptions_list">
                        <td>{{redemption.date}}</td>
                        <td>{{redemption.merchant}}</td>
                        <td>{{redemption.item}}</td>
                        <td>{{redemption.location}}</td>
                        <td>{{redemption.category}}</td>
                        <td>{{redemption.est_save}}</td>
                        <td>{{redemption.ref}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- END: HISTORY -->
    </div>
</div>
<!-- END : USER EDIT -->
<div class="users-create" ng-show="isNewUser && !isUserUpload">
    <h2 class="ttl-tab">
        <span>Users > Add new user</span>
    </h2>
    <form class="frm-adduser">
        <table class="table tbl table-striped">
            <tbody>
                <tr>
                    <th class="td-30">First Name <span class="red">*</span></th>
                    <td>
                        <input type="text" name="txt-firstname" value="Joan" class="ipt-user">
                    </td>
                </tr>
                <tr>
                    <th class="td-30">Last Name</th>
                    <td>
                        <input type="text" name="txt-lastname" value="Yan" class="ipt-user">
                    </td>
                </tr>
                <tr>
                    <th class="td-30">Email <span class="red">*</span></th>
                    <td>
                        <input type="email" name="txt-email" value="Joan.yan@mint.com" class="ipt-user">
                    </td>
                </tr>
                <tr>
                    <th class="td-30">Contact</th>
                    <td>
                        <input type="text" name="txt-contact" value="998554565" class="ipt-user">
                    </td>
                </tr>
                <tr>
                    <th class="td-30">Employee Class</th>
                    <td>
                        <input type="text" name="txt-employee" value="Workmen" class="ipt-user">
                    </td>
                </tr>
                <tr>
                    <th class="td-30">Function</th>
                    <td>
                        <input type="text" name="txt-function" value="Waitress" class="ipt-user">
                    </td>
                </tr>
                <tr>
                    <th class="td-30">Birthday</th>
                    <td>
                        <input type="text" name="txt-birthday" value="03 May 1990" class="ipt-user">
                    </td>
                </tr>
                <tr>
                    <th class="td-30">NRIC No.</th>
                    <td>
                    <input type="text" name="txt-nric" value="13 Jun 2016" class="ipt-user">
                    </td>
                </tr>
            </tbody>
        </table>
        <p class="text-right">
            <button type="submit" class="btn btn-add">add</button>
        </p>
    </form>
    <!-- END : FORM -->
    <div class="add-upload">
        <h2 class="ttl-tab">
            <span>Upload Excel File</span>
        </h2>
        <div class="blk-upload">
            <label>Browse For File:</label>
            <span class="cls-file">No file selected</span>
            <div class="fileUpload">
                <span>Browse...</span>
                <div style="height: 0px; width: 0px; overflow: hidden;">
                    <input type="file" name="userfile" class="fileToUpload">
                </div>
            </div>
            <a class="btn-add btn" ng-click="isUserUpload = !isUserUpload">add</a>
        </div>
        <p>If you require the Excel format for mass uploading, please <a href="#">click here</a> to download the template</p>
    </div>
</div>
<!-- END : ADD USER -->
<div class="confirm-upload" ng-show="isUserUpload && !isDetailUpload">
    <h2 class="ttl-tab">
        <span>Confirm Details For Upload</span>
    </h2>
    <div class="control-button">
        <span>Cancel</span>
        <span class="cfirm"
                ng-click="isDetailUpload = !isDetailUpload">
            Confirm
        </span>
    </div>
    <p>Total No.  Entries: <strong> 04</strong></p>
    <table class="table tbl table-hover table-striped">
        <tbody>
            <tr>
                <td class="text-center">F.Name</td>
                <td class="text-center">L.Name</td>
                <td class="text-center">Email</td>
                <td class="text-center">Contact No.</td>
                <td class="text-center">Emp Class</td>
                <td class="text-center">Funct</td>
                <td class="text-center">Bday</td>
                <td class="text-center">NRIC</td>
            </tr>
            <tr ng-repeat="upload in clients_tab_user_uploads">
                <td class="text-center">{{upload.firstname}}</td>
                <td class="text-center">{{upload.lastname}}</td>
                <td class="text-center">{{upload.email}}</td>
                <td class="text-center">{{upload.contact_no}}</td>
                <td class="text-center">{{upload.employ_cls}}</td>
                <td class="text-center">{{upload.funct}}</td>
                <td class="text-center">{{upload.birthday}}</td>
                <td class="text-center">{{upload.nric}}</td>
            </tr>
        </tbody>
    </table>
    <footer class="table-footer">
        <div class="row">
            <div class="col-md-6 page-num-info">
        <span>
            Show
            <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
            </select>
            entries per page
        </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <pagination class="pagination-sm"
                            ng-model="currentPage"
                            total-items="filteredStores.length"
                            max-size="4"
                            ng-change="select(currentPage)"
                            items-per-page="numPerPage"
                            rotate="false"
                            boundary-links="true"></pagination>
            </div>
        </div>
    </footer>
    <!-- END : PAGINATION -->
</div>
<!-- END: CONFIRM UPLOAD -->
<div class="detail-upload" ng-show="isDetailUpload">
    <h2 class="ttl-tab">
        <span>Details Of New User(s) Added</span>
    </h2>
    <span class="cap-note"
          data-toggle="modal"
          data-target="#modalMessage">
        Send Mail
    </span>
    <p>Total No.  Entries: <strong> 04</strong></p>
    <div class="table-responsive tbl-1024">
        <table class="table tbl table-hover table-striped">
            <tbody>
                <tr>
                    <td class="text-center">F.Name</td>
                    <td class="text-center">L.Name</td>
                    <td class="text-center">Email</td>
                    <td class="text-center">Contact No.</td>
                    <td class="text-center">Veri Code</td>
                    <td class="text-center">Emp Class</td>
                    <td class="text-center">Funct</td>
                    <td class="text-center">Bday</td>
                    <td class="text-center">NRIC</td>
                </tr>
                <tr ng-repeat="dt_upload in clients_user_upload_detail">
                    <td class="text-center">{{dt_upload.firstname}}</td>
                    <td class="text-center">{{dt_upload.lastname}}</td>
                    <td class="text-center">{{dt_upload.email}}</td>
                    <td class="text-center">{{dt_upload.contact_no}}</td>
                    <td class="text-center">{{dt_upload.veri_code}}</td>
                    <td class="text-center">{{dt_upload.employ_cls}}</td>
                    <td class="text-center">{{dt_upload.funct}}</td>
                    <td class="text-center">{{dt_upload.birthday}}</td>
                    <td class="text-center">{{dt_upload.nric}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <footer class="table-footer">
        <div class="row">
            <div class="col-md-6 page-num-info">
        <span>
            Show
            <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
            </select>
            entries per page
        </span>
            </div>
            <div class="col-md-6 text-right pagination-container">
                <pagination class="pagination-sm"
                            ng-model="currentPage"
                            total-items="filteredStores.length"
                            max-size="4"
                            ng-change="select(currentPage)"
                            items-per-page="numPerPage"
                            rotate="false"
                            boundary-links="true"></pagination>
            </div>
        </div>
    </footer>
    <!-- END : PAGINATION -->
    <div id="modalMessage" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Would like to send all employees their verification code now? By clicking “Yes” the system will send an automated email to everyone you just added.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel" data-dismiss="modal">Cancel</button>
                    <button type="button"
                            class="btn btn-add"
                            data-toggle="modal"
                            data-target="#modalThankyou"
                            data-dismiss="modal">Yes</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END : MODAL MESSAGE-->
    <div id="modalThankyou" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Message</h4>
                </div>
                <div class="modal-body">
                    <p>
                        Alright! We are currently working on it and sending the verifications out to your employees. We will drop you a mail – once we are done!
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- END : MODAL MESSAGE-->
</div>
<!-- END: DETAIL UPLOAD -->
