<!-- END : USER LIST -->
<div class="user-edit" data-ng-controller="UserCtrl">
    <h2 class="ttl-tab">
        <a href="#/clients/{{clientId}}/user/">Users</a>
        <span class="sub-sep"><i class="fa fa fa-caret-right"></i></span>
        <span>{{user.username}}</span>
    </h2>
    <tabset class="client-tabs lv2">
        <tab heading="User Info">
            <div ng-include="'views/clients/user/user_info.html'"></div>
        </tab>
        <!-- END: TAB -->
        <tab heading="User CloudBook">
            <div ng-include="'views/clients/user/user_cloudbook.html'"></div>
        </tab>
        <!-- END: TAB -->
        <tab heading="User Group">
            <div class="row" ng-include="'views/clients/user/user_detail_group.html'"></div>
        </tab>
        <!-- END: TAB -->
    </tabset>
</div>
<!-- END : USER EDIT -->
