<li ng-class="{active : isActive('/merchant/' + clientId + '/info')}">
    <a href="{{page_tabUrls.info ? page_tabUrls.info : 'javascript:;'}}" title="Company Info">Company Info</a>
</li>
<li ng-class="{active : isActive('/merchant/' + clientId + '/business')}">
    <a href="{{page_tabUrls.business ? page_tabUrls.business : 'javascript:;'}}" title="Businesses">Businesses</a>
</li>
<li ng-class="{active : isActive('/merchant/' + clientId + '/outlets')}">
    <a href="{{page_tabUrls.outlets ? page_tabUrls.outlets : 'javascript:;'}}" title="Outlets">Outlets</a>
</li>
<li ng-class="{active : isActive('/merchant/' + clientId + '/offers')}">
    <a href="{{page_tabUrls.offers ? page_tabUrls.offers : 'javascript:;'}}" title="Offers">Offers</a>
</li>
<li ng-class="{active : isActive('/merchant/' + clientId + '/reports')}">
    <a href="{{page_tabUrls.reports ? page_tabUrls.reports : 'javascript:;'}}" title="Reports">Reports</a>
</li>
<li ng-class="{active : isActive('/merchant/' + clientId + '/campaigns')}">
    <a href="{{page_tabUrls.campaigns ? page_tabUrls.campaigns : 'javascript:;'}}" title="campaigns">Campaigns</a>
</li>
