<div class="item-preview" ng-show="!showPreview">
    <div class="col-md-8 col-sm-8 col-xs-6">
        <span class="cap-note" ng-click="showPreview = !showPreview">
                                                        Preview
                                                    </span>
        <div class="sec-itm blk-preview" ng-show="!isForward">
                <table class="table tbl table-striped">
                    <tbody>
                        <tr>
                            <td class="td-20 td-bold">Section Title:</td>
                            <td>
                                <input type="text" ng-model="formSection.title" class="txt-ipt"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-20 td-bold">Status:</td>
                            <td>
                               <input type="text" ng-model="formSection.status" class="txt-ipt"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="td-20 td-bold">Section No:</td>
                            <td>
                                <input type="text" ng-model="formSection.version" class="txt-ipt"/>
                            </td>
                        </tr>
                        <tr ng-if="isCreateSubSection">
                            <td class="td-20 td-bold">Section Parent:</td>
                            <td>
                                <select name="parent" id="parent" ng-model="parentSelect">
                                    <option ng-repeat="option in parentSection" value="{{option.id}}">{{option.title}}</option>
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- END : TBL -->
                <div text-angular ng-model="formSection.description"></div>
                <!-- <textarea ui-tinymce data-ng-model="formSection.description"></textarea> -->
                <!-- END : EDITOR -->
                <p class="tp-20">
                    <a ng-click="submitSection()" class="save btn-brown"><i class="fa fa-save"></i>&nbsp;SAVE</a>
                </p>
        </div>
        <!-- END : FORWARD -->
    </div>
    <div class="col-md-4 col-sm-4 col-xs-6">
        <table class="table tbl tbl-small table-striped">
            <tbody>
                <tr>
                    <td class="text-center td-bold" colspan="3">
                        Handbook Contents
                    </td>
                </tr>

                <tr class="tr-hover" ng-repeat="section in allSections" ng-click="loadSection(section)">
                    <td class="td-20 ">{{section.title}}</td>
                    <td colspan="2" ng-if="section._links.children">
                        <span ng-bind-html="section.description"></span>
                        <span class="tbl-remove">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </td>
                    <td class="text-center" ng-if="section._links.parent">{{section.version}}</td>
                    <td ng-if="section._links.parent">
                        <span ng-bind-html="section.description"></span>
                        <span class="tbl-remove">
                            <i class="fa fa-trash-o"></i>
                        </span>
                    </td>
                </tr>
                
            </tbody>
        </table>
        <!-- END : TBL -->
        <div class="section-control">
            <a ng-click="createSubSction(true)">
                Add Sub-Section
            </a>
            <a ng-click="createSubSction(false)">
                Add New Section
            </a>
        </div>
    </div>
</div>
<!-- END : ITEM -->
<div class="item-preview" ng-show="showPreview">
    <div class="col-xs-12">
        <span class="cap-note" ng-click="showPreview = !showPreview">Exit Preview</span>
        <div class="prv-logo">
            <img src="images/logo-demo.png" alt="">
        </div>
        <h3 class="ttl-prv">
            Magenta Consulting Employee Handbook
        </h3>
        <span class="ver-prv">Version 1.4,  16 June 2015, English Version</span>
        <div class="prv-desc">We have specially prepared this Handbook to explain and help you better understand Bullwork’s Human Resource policies, compensation and benefits programs, as well as our corporate rules and regulations.</div>
        <div class="clp-title" ng-click="isForward = !isForward">
            1. Forward
        </div>
        <div class="clp-content" collapse="!isForward">
            Demo Forward 1
        </div>
        <div class="clp-title" ng-click="isTerms = !isTerms">
            2. Terms & Conditions of Employment
        </div>
        <div class="clp-content" collapse="!isTerms">
            Demo Terms & Conditions of Employment
        </div>
        <div class="clp-title" ng-click="isCode = !isCode">
            3. Code Of Conduct
        </div>
        <div class="clp-content" collapse="isCode">
            <p>
                <span>3.1 - Attendance & Punctuality </span>
            </p>
            <p>Absenteeism and tardiness place a burden on other employees and the Company. You are expected to observe punctuality and regularity of attendance at the workplace. Should you be unable to report for work within the first 15 minutes of the start time, your Supervisor must be notified in advance.</p>
            <p>
                <span>3.2 - Personal Appearance </span>
            </p>
            <p>
                <span>3.3 - Personal Property</span>
            </p>
            <p>
                <span>3.4 - Confidentiality </span>
            </p>
        </div>
    </div>
</div>
<!-- END : ITEM -->
